<%- include("header") %>
<form action="/" method="post">
  <h1>Today is <%= date %></h1>
  <input type="text" name="username" placeholder="Username">
  <button type="submit" name="button">Go</button>
</form>
<%- include("footer") %>
