<%- include("header") %>
<form action="/login" method="post">
<input type="email" name="email" placeholder="email">
<input type="password" name="password" placeholder="password">
<button type="submit" name="button">Go</button>
</form>
<%- include("footer") %>
